{
   "type": "DATABASE_TYPE",
   "host": "DATABASE_HOST",
   "port": 3306,
   "username": "DATABASE_USERNAME",
   "password": "DATABASE_PASSWORD",
   "database": "DATABASE_NAME",
   "synchronize": true,
   "logging": false,
   "entities": [
      "build/database/entity/**/*.ts"
   ],
   "migrations": [
      "build/database/migration/**/*.ts"
   ],
   "subscribers": [
      "build/database/subscriber/**/*.ts"
   ],
   "cli": {
      "entitiesDir": "src/database/entity",
      "migrationsDir": "src/database/migration",
      "subscribersDir": "src/database/subscriber"
   }
}